<table class="table genre-table">
  <thead>
    <tr>
       <th class="border-white h4 genre-search"> ジャンル検索</th>
    </tr>
  </thead>
  <% @genres.each do |genre| %>
    <tbody>
      <tr>
        <td>
          <%= link_to genre.name, genre_searches_path(genre.id) %>
        </td>
       </tr>
    </tbody>
  <% end %>
</table>
<div class="genres">
</div>