<div class="text-center"> ジャンル検索</div>
<div class="row">
  <div class="col wrap">
    <% @genres.each do |genre| %>
      <ul class="navbar-nav ml-3 mr-3">
        <li class="nav-item active">
          <div class="social text-center inline-bro">
            <%= link_to genre.name, genre_searches_path(genre.id), class:"text-nowrap nav-link" %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>