<div id="aboutbox" >
  <div class="box-text">
  <%= link_to image_tag("IMG_0507.PNG", width: 300), "/", class:"navbar-brand p-3" %>
  <p class="about-comment">
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。
  </p>
  </div>
  <div class="about-image ">
    <%= image_tag 'about.jpg', :width => '100%', :height => '100%' %>
  </div>

  <div class="bottom-comment">
    <p>美味しいケーキをたくさんご用意しております。</p>
    <%= link_to "注文する！",products_path  %>
  </div>
  <div id="about-box" >
  <div id="about-images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
     <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
     <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
  </div>
  <div class="about-image">
    <%= image_tag 'about.jpg', :width => '100%', :height => '100%' %>
  </div>
</div>