<div class="container">
  <div class="row">
    <div class="col mx-auto text-center">
      <h1>About</h1>
      <div class="detail text-center">
        <p>
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          さまざまなバリエーションをご用意しております。<br>
          また全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </p>
      </div>
      <div class="naganocake-img">
        <img src="/assets/no_image.jpg" alt="">
      </div>
    </div>
  </div>
</div>
