<h2>注文履歴詳細</h2>
<div class="container">
  <div class="row">
    <div class="col-6">
    <%= render "order" %>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <%= render "index" %>
    </div>
    <div class="col-4">
      <%= render "price" %>
    </div>
  </div>
</div>