<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-1">
      <h2>注文履歴詳細</h2>
      <%= render "order" %>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <%= render "index" %>
      </div>
      <div class="col-4">
        <%= render "price" %>
      </div>
    </div>
  </div>
</div>