/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS /assets/images/img-01.jpgfile within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
a{
  text-decoration: none;
  color: black;
}
// トップ画面

.product-title{
     font-family: 'Hannotate TC',sans-serif;
     text-align: center;
     margin-bottom: 60px;
     margin-top: 50px;
    // border-bottom: double #FAEBD7;
  }

#box{
  height: 600px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: white;
  .box-text {
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: 9999;

    h1{
      font-family: 'Hannotate TC',sans-serif;
      text-align: center;
      font-size: 7vw;
    }
    p{
      // font-family: 'Hannotate TC',sans-serif;
      text-align: center;
      font-size: 1.8vw;
    }
  }
  #images{
    .image1 {
      background-image: url(image1.jpg);
      background-size : cover ;
    }
    .image2 {
      background-image: url(image2.jpg);
      background-size : cover ;
    }
    .image3 {
      background-image: url(image3.jpg);
      background-size : cover ;
    }
    .image4 {
      background-image: url(image4.jpg);
      background-size : cover ;
    }
  }
}

.new-products{
  .product-box{
    // transition: 0.5s;
    // margin: 40px;
  opacity : 0.1;
	transform : translate(0, 130px);
	transition : all 1200ms;

  }
  .product-box.scrollin{
  opacity : 1;
	transform : translate(0, 0);
  }
  .product-box:hover{
  opacity: 0.6;
  color: black;
  }
  .name{
    font-family: 'Hannotate TC',sans-serif;
    text-size: 100px;
    border-bottom: 1px #DEB887;

  }
  .price{
    font-family: 'Hannotate TC',sans-serif;
    text-size: 50px;
  }
  .introduction{
   font-family: "MS Pゴシック";
   text-size: 30px;
  }
}
// ジャンル検索
.genre_search{
  font-family: 'Hannotate TC',sans-serif;
}
.test:hover{
  color: black;
  text-decoration: none;
}
// アバウト画面
#aboutbox{
  height: 500px;
  position: relative;
  width: 100%;
  color: brown;
  .box-text {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 9999;

    h1{
      font-family: 'Hannotate TC',sans-serif;
      font-size: 5vw;
    }
    p{
      font-size: 1.7vw;
      line-height: 200%;
    }
  }
}
// 商品詳細ページ
.product-show{
  height: 300px;
  border: 1px;
}
.product-show-img{
  position: relative;
  height: 500px;
  position: relative;
  width: 40%;
  img{
    position: absolute;
    width: 100%;
    height: auto;
    border: solid 5px #696969;
  }
  img:hover{
   
  }
}
.product-show-detail{
   font-family: 'Hannotate TC',sans-serif;
   padding-left: 100px;
   padding-top: 30px;
   .product-name{
     font-size: 30px;
     border-bottom:  solid 2px #696969;
   }
   .product-introduction{
     font-size: 20px;
   }
   .product-price{
     font-size: 20px;
   }
   input{
     margin-top: 20px;
     display: block;
     text-align: center;
     line-height: 30px;
     padding: 10px 40px;
    // background-color: #f5deb3;
     color: #696969;
     border: solid 2px #696969;
     font-family:  "MS Pゴシック";
     background-color: white;
   }
   input:hover{
     background-color: #696969;
     color: white;
     border: solid 2px #696969;
     font-family:  "MS Pゴシック";
   }
}



