/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS /assets/images/img-01.jpgfile within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

// トップ画面
#box{
  height: 600px;
  position: relative;
  width: 100%;
  color: white;
  .box-text {
    position: absolute;
    top: 40%;
    left: 33%;
    z-index: 9999;

    h1{
      font-family: 'Hannotate TC',sans-serif;
      text-align: center;
      font-size: 70px;
    }
    p{
      font-family: 'Hannotate TC',sans-serif;
      text-align: center;
      font-size: 20px;
    }
  }
  #images{
    .image1 {
      background-image: url(image1.jpg);
      background-size : cover ;
    }
    .image2 {
      background-image: url(image2.jpg);
      background-size : cover ;
    }
    .image3 {
      background-image: url(image3.jpg);
      background-size : cover ;
    }
    .image4 {
      background-image: url(image4.jpg);
      background-size : cover ;
    }
  }
}

// アバウト画面
#aboutbox{
  height: 500px;
  position: relative;
  width: 100%;
  color: brown;
  .box-text {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 9999;

    h1{
      font-family: 'Hannotate TC',sans-serif;
      font-size: 50px;
    }
    p{
      font-size: 20px;
    }
  }
}
